<ul class="crypto">
    <li>PayPal
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input name="cmd" value="_s-xclick" type="hidden" />
            <input name="hosted_button_id" value="N42QEX8Y2YZTC" type="hidden" />
            <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit" alt="Click here to donate with PayPal" border="0" type="image" />
            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" border="0" height="1" width="1" style="padding:0" />
        </form>
    </li>
    <li>Cryptocurrency (notify me by email, too)
        <ul>
            <li>BTC Bitcoin:
                <ul>
                    <li  style="font-size:12px;list-style-type:none;margin-left:-90px">1CFdob7YqaF1wj6ForPpCzYF5JvakStdzx</li>
                </ul>
            </li>
            <li>ETH Ether:
                <ul>
                    <li  style="font-size:12px;list-style-type:none;margin-left:-90px">0x437e29b9703C74F7ece82e0D35FEDFE2B814D11d</li>
                </ul>
            </li>
            <li>SKY Skycoin:
                <ul>
                    <li  style="font-size:12px;list-style-type:none;margin-left:-90px">Y7XW7HY85d36pJFUohtqRyqjtXQAk7M33o</li>
                </ul>
            </li>
            <li>EOS Eos:
                <ul>
                    <li  style="font-size:12px;list-style-type:none;margin-left:-90px">ge3dqojzgyge</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Snailmail, bank transfer, or deposit: email me about how to use these methods. Include your location.</li>
</ul>
