---
layout: default
---

<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="date">
    {{ page.date | date: "%Y %B %e" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="arrowblog">
    {% if page.previous.url %}<a href="{{page.previous.url}}">&lt; {{page.previous.title}}</a>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if page.next.url %}<a class="next" href="{{page.next.url}}">{{page.next.title}} &gt;</a>{% endif %}
  </div>

</article>

