<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
<style> body{font:13px/1.15em Palatino;background-color:white;color:black}.container{max-width:100%}h1, h2, h3, h4, h5, h6{color:black}</style>
  </head>

  <body>
<div style="margin-left:2em">
            <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <p>profound rest for the self-healing psyche<br />
               a book by andrew durham</p>

      <p><a href="/blog/">blog</a> &nbsp; <a href="/darkness-conjecture/">darkness conjecture</a> &nbsp; <a href="/reports/">reports</a> &nbsp; <a href="/other-writings/">other writings</a> &nbsp; <a href="/about/">about</a>
       </p><p>   <a href="https://leanpub.com/darkroomretreat"><img src="/img/book-cover.png" label="cover image" width="30%" title="buy now" style="padding:0;filter:brightness(90%)"></a>
</p>
</div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include analytics.html %}
  </body>
</html>
